.field--name-body {
  margin-bottom: 30px;
}

.path-starfsmenn-og-stjorn .item-list>ul>li {
  margin-bottom: 30px;
}

.media-images.view-mode-landscape {
  margin-bottom: 30px;
}

.path-node{
  .media-images {
    float: left;
    margin-right: 30px;
  }
}
