.node-readmore {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid $secondary-blue;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: $primary-blue;
  transition: 0.2s ease-in;

  a{
    color: whitesmoke;
    text-decoration: none;
    transition: 0.2s ease-in;
  }
}

.node-readmore:hover {
  background: white;
  border-color: $primary-blue;

  a{
    color: $primary-blue;
    text-decoration: none;
  }
}

