.page-node-type-vidburdir {
  .view-mode-hero-mynd {
    margin-top: -21px;
    margin-bottom: 20px;
  }

  .location {
    background-color: $primary-green;
    padding: 20px;
    color: whitesmoke;
    margin-bottom: 20px;
  }

  .texts {
    h2 {
      color: whitesmoke;
    }
    .schedule {
      background-color: $secondary-purple;
      color: whitesmoke;
      padding: 20px;
    }
  }
}