.view-id-adildafelog {
  li {
    article {
      img {
        height: 100px;
        margin-bottom: 20px;
      }
    }
  }
}

.block-views-blockadildafelog-block-1 {
  h2 {
    margin-bottom:40px;
  }

  .item-list>ul>li {
    margin-bottom: 30px;
  }
}

.fp-top,
.fp-middle,
.fp-bottom {
  margin-bottom: 30px;
}