<div class="events">
    <div class="top">
        {{ content.top }}
    </div>
    <div class="location">
        {{ content.location }}
    </div>
    <div class="text">
        {{ content.text }}
    </div>
</div>