<div class="events">
    <div class="top">
        {{ content.top }}
    </div>
    <div class="location">
        {{ content.location }}
    </div>
    <div class="texts">
        <div class="text col-lg-8">
            {{ content.text }}
        </div>
        <div class="schedule col-lg-4">
            {{ content.schedule }}
        </div>
    </div>
</div>